





document.write("<style><!--");
document.write("#x7kang {border:#D39B9C 1px solid;width:733px;margin:auto;background:#FBDFDE;}");
document.write("#x7kang ul {list-style-type:none;width:733px;margin:0;padding:12px;border:0;}");
document.write("#x7kang li {list-style-type:none;width:232px;float:left;line-height:20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;background:url(http://www.7kang.com/images/img2.gif) no-repeat 0 5px;padding:0 0 0 16px;margin:0 2px;}");

document.write("#x7kang li a:link,#x7kang li a:visited{text-decoration:none;color:#433836;font-size:9pt;}");
document.write("#x7kang li a:hover,#x7kang li a:active{text-decoration:underline;color:#F00;font-size:9pt;}");
document.write("--></style>");

document.write("<div id='x7kang'>");
document.write("<ul>");



document.write("<li><a target='_blank' href='http://www.7kang.com/topic/1577246'>中国向“全民医保”迈进（今日关注）(组图)</a></li>");
        
document.write("<li><a target='_blank' href='http://www.7kang.com/topic/1577265'>癌症是否扩散医生“听”得到(图)</a></li>");
        
document.write("<li><a target='_blank' href='http://www.7kang.com/topic/1577282'>今冬明春禽流感可能再抬头</a></li>");
        
document.write("<li><a target='_blank' href='http://www.7kang.com/topic/1577309'>回声：齐康网帮助我治好了眼跳</a></li>");
        
document.write("<li><a target='_blank' href='http://www.7kang.com/topic/1577579'>特色餐厅的特色菜,你有胆一试吗 ?</a></li>");
        
document.write("<li><a target='_blank' href='http://www.7kang.com/topic/1577610'>深圳海归医生举报同行“草菅人命”调查</a></li>");
        
document.write("<li><a target='_blank' href='http://www.7kang.com/topic/1577611'>医生凭什么不收红包－－我作为医生的自白</a></li>");
        
document.write("<li><a target='_blank' href='http://www.7kang.com/topic/1577984'>“2006中国十大魅力女人”魅在何处？</a></li>");
        
document.write("<li><a target='_blank' href='http://www.7kang.com/topic/1578317'>江苏一色情餐饮街 小姐饭店全裸表演(图)</a></li>");
        

document.write("</ul>");
document.write("</div>");



