TD {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 150%
}
A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.tt1:link {
	FONT-SIZE: 12px; COLOR: #014558; LINE-HEIGHT: 150%; TEXT-DECORATION: underline
}
A.tt1:visited {
	FONT-SIZE: 12px; COLOR: #014558; LINE-HEIGHT: 150%; TEXT-DECORATION: underline
}
A.tt1:hover {
	FONT-SIZE: 12px; COLOR: #0299b3; LINE-HEIGHT: 150%; TEXT-DECORATION: underline
}
A.tt2:link {
	FONT-SIZE: 12px; COLOR: #0245a9; LINE-HEIGHT: 180%; TEXT-DECORATION: underline
}
A.tt2:visited {
	FONT-SIZE: 12px; COLOR: #0245a9; LINE-HEIGHT: 180%; TEXT-DECORATION: underline
}
A.tt2:hover {
	FONT-SIZE: 12px; COLOR: #0299b3; LINE-HEIGHT: 180%; TEXT-DECORATION: underline
}
A.tt3:link {
	FONT-SIZE: 12px; COLOR: #137000; LINE-HEIGHT: 180%; TEXT-DECORATION: underline
}
A.tt3:visited {
	FONT-SIZE: 12px; COLOR: #137000; LINE-HEIGHT: 180%; TEXT-DECORATION: underline
}
A.tt3:hover {
	FONT-SIZE: 12px; COLOR: #0299b3; LINE-HEIGHT: 180%; TEXT-DECORATION: underline
}
A.tt4:link {
	FONT-SIZE: 14px; COLOR: #0245a9; LINE-HEIGHT: 150%; TEXT-DECORATION: underline
}
A.tt4:visited {
	FONT-SIZE: 14px; COLOR: #0245a9; LINE-HEIGHT: 150%; TEXT-DECORATION: underline
}
A.tt4:hover {
	FONT-SIZE: 14px; COLOR: #0299b3; LINE-HEIGHT: 150%; TEXT-DECORATION: underline
}
A.no1:link {
	FONT-SIZE: 12px; COLOR: #710248; TEXT-DECORATION: none
}
A.no1:visited {
	FONT-SIZE: 12px; COLOR: #710248; TEXT-DECORATION: none
}
A.no1:hover {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A.no2:link {
	FONT-SIZE: 12px; COLOR: #4c4c4c; TEXT-DECORATION: none
}
A.no2:visited {
	FONT-SIZE: 12px; COLOR: #4c4c4c; TEXT-DECORATION: none
}
A.no2:hover {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: underline
}
A.no3:link {
	FONT-SIZE: 12px; COLOR: #ff0006; TEXT-DECORATION: none
}
A.no3:visited {
	FONT-SIZE: 12px; COLOR: #ff0006; TEXT-DECORATION: none
}
A.no3:hover {
	FONT-SIZE: 12px; COLOR: #0865e4; TEXT-DECORATION: underline
}
A.no4:link {
	FONT-SIZE: 12px; COLOR: #0299b3; TEXT-DECORATION: none
}
A.no4:visited {
	FONT-SIZE: 12px; COLOR: #0299b3; TEXT-DECORATION: none
}
A.no4:hover {
	FONT-SIZE: 12px; COLOR: #870101; TEXT-DECORATION: underline
}
A.no5:link {
	FONT-SIZE: 12px; COLOR: #004363; TEXT-DECORATION: none
}
A.no5:visited {
	FONT-SIZE: 12px; COLOR: #004363; TEXT-DECORATION: none
}
A.no5:hover {
	FONT-SIZE: 12px; COLOR: #ffaf04; TEXT-DECORATION: underline
}
A.no6:link {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A.no6:visited {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A.no6:hover {
	FONT-SIZE: 12px; COLOR: #7f7f7f; TEXT-DECORATION: none
}
A.no7:link {
	FONT-SIZE: 12px; COLOR: #cc1800; TEXT-DECORATION: none
}
A.no7:visited {
	FONT-SIZE: 12px; COLOR: #cc1800; TEXT-DECORATION: none
}
A.no7:hover {
	FONT-SIZE: 12px; COLOR: #7f7f7f; TEXT-DECORATION: none
}
.em {
	LETTER-SPACING: 0.2em
}
.14 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
A.red:link {
	FONT-SIZE: 12px; COLOR: #cc007d; TEXT-DECORATION: none
}
A.red:visited {
	FONT-SIZE: 12px; COLOR: #cc007d; TEXT-DECORATION: none
}
A.red:hover {
	FONT-SIZE: 12px; COLOR: #7f7f7f; TEXT-DECORATION: none
}
A.white:link {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.white:visited {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.white:hover {
	FONT-SIZE: 12px; COLOR: #7f7f7f; TEXT-DECORATION: none
}
