BODY {
	BACKGROUND-COLOR: #BBBBBB; 
	COLOR: #3F3849; 
	line-height: 140%;
	font-family: "Verdana", "Tahoma", "宋体";
	FONT-SIZE: 12px;
	SCROLLBAR-ARROW-COLOR: #F5D300;
	SCROLLBAR-BASE-COLOR:  #40364d;
	SCROLLBAR-HIGHLIGHT-COLOR: #90869E;
}

UL		{FONT-FAMILY: "Verdana", "Tahoma", "宋体"; FONT-SIZE: 12px}
LI		{FONT-FAMILY: "Verdana", "Tahoma", "宋体"; FONT-SIZE: 12px}
P		{FONT-FAMILY: "Verdana", "Tahoma", "宋体"; FONT-SIZE: 12px}
TD		{FONT-FAMILY: "Verdana", "Tahoma", "宋体"; FONT-SIZE: 12px}
TR		{FONT-FAMILY: "Verdana", "Tahoma", "宋体"; FONT-SIZE: 12px}

A:LINK		{COLOR: #3F3849; TEXT-DECORATION: none}
A:VISITED	{COLOR: #3F3849; TEXT-DECORATION: none}
A:HOVER		{COLOR: #F5D300; BACKGROUND-COLOR: #40364d}
A:ACTIVE	{COLOR: #F5D300; BACKGROUND-COLOR: #40364d}

FORM		{FONT-FAMILY: "Verdana", "Tahoma", "宋体"; FONT-SIZE: 12px}
SELECT		{FONT-FAMILY: "Verdana", "Tahoma", "宋体"; COLOR: #51485F; FONT-SIZE: 12px}
INPUT		{FONT-FAMILY: "Verdana", "Tahoma", "宋体"; COLOR: #51485F; FONT-SIZE: 12px}
TEXTAREA	{FONT-FAMILY: "Verdana", "Tahoma", "宋体"; COLOR: #51485F; FONT-SIZE: 12px}

#submitrow INPUT	{BACKGROUND-COLOR:#40364d; COLOR: #f5d300; FONT-WEIGHT: bold}
.firstalt	{BACKGROUND-COLOR: #D0D0D0}
.secondalt	{BACKGROUND-COLOR: #C5C5C5}
.tblhead	{BACKGROUND-COLOR: #40364D; COLOR:#F5D300; FONT-SIZE:12px}
.tblborder	{BACKGROUND-COLOR: #51485F}

#navbody 		{COLOR: #3F3849; FONT-FAMILY: "Verdana", "Tahoma", "宋体"; FONT-SIZE: 12px; BACKGROUND-COLOR: #51485F}
#navbody TD 	{FONT-FAMILY: "Verdana", "Tahoma", "宋体"; FONT-SIZE: 12px}
#navbody A:LINK	{COLOR: #9A91AA; FONT-FAMILY: "Verdana", "Tahoma", "宋体"; FONT-SIZE: 12px}
#navbody A:VISITED	{COLOR: #9A91AA; FONT-FAMILY: "Verdana", "Tahoma", "宋体"}
#navbody A:HOVER	{COLOR: #F5D300; FONT-FAMILY: "Verdana", "Tahoma", "宋体"; BACKGROUND-COLOR: #40364d}
#navbody A:ACTIVE	{COLOR: #F5D300; FONT-FAMILY: "Verdana", "Tahoma", "宋体"; BACKGROUND-COLOR: #40364d}
#navbody .tblhead	{COLOR: #BCB6CD; FONT-FAMILY: "Verdana", "Tahoma", "宋体"}

.gc		{COLOR: darkgreen}
.cc		{COLOR: darkblue}

.size1		{FONT-SIZE: 12px}
.size2		{FONT-SIZE: 11pt} 

.space{
	PADDING-TOP: 4px; 
	PADDING-BOTTOM: 4px; 
	PADDING-LEFT: 8px; 
	MARGIN-TOP: 4px; 
	MARGIN-BOTTOM: 4px
	MARGIN-LEFT: 5px
}       
